# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.env

# Angular
/dist/
/out-tsc/
/coverage/
/src/assets/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

